// Colors

$white-color: #FFFFFF;
$black-color: #000000;
$tomato-color: #F04C3D;
$gainsboro-color: #E1E1E1;
$dimgray-color: #6D6D6D;
$whitesmoke-color: #F2F2F2;
$darkgray-color: #95989A;
$lightgray-color: #D1D0D0;
$darkslategray-color: #383736;