// Media Queries

$lg-desktop-breakpoint: 1586px;
$md-desktop-breakpoint: 1280px;
$sm-desktop-breakpoint: 1024px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 736px;
$extra-sm-mobile-breakpoint: 320px;